@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500&family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}
button {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 1.25rem;
  border: 0;
}
.App {
  display: flex;
  flex-direction: column;
}
.main {
  display: grid;
  grid-template-columns: 25% 75%;
}
.img-div {
  font-size: 0;
}
.column-page-flex {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 2rem;
}
.row-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.primary-btn {
  background-color: cornflowerblue;
  color: white;
}
.playlist-icon {
  position: relative;
}
.playlist-icon > .fa-icon {
  width: 25px;
  height: 25px;
}
.playlist-icon > .fa-icon:nth-child(2) {
  background-color: white;
  padding: 0.2rem;
  position: absolute;
  right: -10px;
  bottom: 0;
  width: 15px;
  height: 15px;
}
.secondary-btn {
  background-color: white;
  border: 2px solid cornflowerblue;
}

.clock {
  width: 15px;
  height: 15px;
  padding: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
}
.clock:hover {
  cursor: pointer;
  background-color: rgb(237, 243, 255);
}
.blue {
  color: cornflowerblue;
}
.playlist-icon {
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.playlist-icon:hover {
  cursor: pointer;
  background-color: rgb(237, 243, 255);
}

.playlist-icon > .fa-icon {
  height: 15px;
  width: 15px;
}
.video-action-icons > .playlist-icon > .fa-icon:nth-child(2) {
  width: 8px;
  height: 8px;
  right: 2px;
  bottom: 6px;
  padding: 0 0.1rem;
}
